#phaser-game {
  margin-top: 10px;
  justify-self: center;
  width: 950px;
  height: 775px;
  aspect-ratio: 1/1;
  background-color: black;
  border-radius: 20%;
}

.login-container {
  margin-top: 20px;
  justify-self: center;
  width: 200px;
  display: flex;
  flex-direction: column;
}

button {
  margin-top: 5px;
}

.game-title {
  text-align: center;
  margin-top: 20px;
  font-family: monospace;
}

@media screen and (min-width: 1920px) {
  .game-container {
    display: flex;
    justify-content: space-evenly;
  }
  .login-container {
    align-self: center;
  }
}
