#phaser-game {
  margin-top: 10px;
  justify-self: center;
  width: 1000px;
  height: 800px;
  background-color: black;
  border-radius: 20%;
}

.login-container {
  margin-top: 20px;
  justify-self: center;
  width: 200px;
  display: flex;
  flex-direction: column;
}

.password-container {
  position: relative;
  display: inline-block;
}

button {
  margin-top: 5px;
}
